<div class="main clear">
	<div class="box">
    	<div class="m_title">
        	<h2>当前位置：赛事/单项成绩/<span style="cursor:pointer;" onclick="window.location.href='/dxcj/dxjp';">单项奖牌</span>/<span style="cursor:pointer;" onclick="window.location.href='/dxcj/dxjp/<%~ @project[:dhkey] %>';"><%~ @project[:xmmc].to_s.strip %></span></h2>
        </div>
        <div class="m_body">
        	  <div class="competition">
            	
                <div class="group_btn">
                  <a href="javascript:;" class="hover"><span>青少年组</span></a>
                  <a href="javascript:alert('暂时还没有高校组的数据');"><span>高校组</span></a>
                </div>

                <div class="competition_a">
                  <a href="/dxcj" class="c_btn_a"><i></i>单项成绩</a>
                  <a href="/dxcj/dxzf" class="c_btn_a"><i></i>单项总分</a>
                  <a href="/dxcj/dxjp" class="c_btn_a hover"><i></i>单项奖牌</a>
                </div>

                <div class="competition_con">
                  <div class="group_list">
                    <% colors = ["5B9E44","7E363F","7C863A","44489E","7E5C36","449E89","7E4936","8F3D80","44749E","7E7936","70449E"] %>
                    <% colors_sum = colors.size %>
                    <% @zubies.each_with_index do |zubie, i| %>
                    <li style="margin-bottom: 15px;"><a style="background:#<%~ colors[i%colors_sum] %>;" href="<%~ "/dxcj/dxjp/#{@project[:dhkey]}?zubie=#{URI.escape(zubie[:zubie].to_s.strip)}" %>"><%~ zubie[:zubie].to_s.strip %></a></li>
                    <% end %>
                    <li style="margin-bottom: 15px;"><a style="background:#<%~ colors[@zubies.size%colors_sum] %>;" href="<%~ "/dxcj/dxjp/#{@project[:dhkey]}?zubie=#{URI.escape('汇总')}" %>">汇总</a></li>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>