<div class="main clear">
	<div class="box">
    	<div class="m_title">
        	<h2>当前位置：赛事/竞赛规程</h2>
        </div>
        <div class="m_body">
        	<div class="competition">
            	<div class="rule_explain">
                	<div class="rule_img"><img src="<%~ static_url "/images/rule_#{@project[:dhkey]}.png" %>" /></div>
                    <h1><%~ @project[:xmmc].to_s.strip %></h1>
                    <div class="rule_text">
                        <p>文本不知道从哪里取</p>
                    	<p>让观众最养眼的竞技运动</p>
                        <p>阳光、沙滩，还有身材健美的、皮肤呈古铜色的俊男靓女，在国际大型综合类体育运动会的比赛项目中，沙滩排球应该是让让观众最养眼的竞技运动。它和排球有很多相似之处，但一些地方又有所区别。</p>
                        <p>起源与发展</p>
                        <p>沙滩排球beach volleyball，简称“沙排”，上世纪20年代起源于美国。大多数人认为，加利福尼亚州的莫尼卡是这项运动的发源地。最初，人们玩沙滩排球是为了娱乐消遣。头顶蓝天，沐浴阳光，光着脚板在金色柔软的沙滩上，尽情跳跃、滚翻、流汗……</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>