<div class="main clear">
	<div class="box">
    	<div class="m_title">
        	<h2>当前位置：赛事/排行榜/<span style="cursor:pointer;" onclick="window.location.href='/phb/zdxmzf';">重点项目总分</span></h2>
        </div>
        <div class="m_body">
        	  <div class="competition">
            	
                <div class="group_btn">
                  <a href="javascript:;" class="hover"><span>青少年组</span></a>
                  <a href="javascript:alert('暂时还没有高校组的数据');"><span>高校组</span></a>
                </div>

                <div class="competition_a">
                  <span>
                    <p class="ca01">赛会奖牌</p>
                      <ul style="display: none;">
                        <li><a href="/phb">比赛奖牌</a></li>
                        <li><a target="_blank" href="http://116.228.3.80/html/syh/jp/赛会总奖牌.htm">赛会总奖牌</a></li>
                      </ul>
                  </span>
                  <span>
                    <p class="ca02">赛会总分</p>
                    <ul style="display: none;">
                        <li><a href="/phb/bszf">比赛总分</a></li>
                        <li><a target="_blank" href="http://116.228.3.80/html/syh/zf/赛会总分.htm">赛会总分</a></li>
                      </ul>
                  </span>
                  <span>
                    <p><i></i>重点项目奖牌</p>
                      <ul style="display: none;">
                        <li><a href="/phb/zdxmjp">比赛重点项目奖牌</a></li>
                        <li><a target="_blank" href="http://116.228.3.80/html/syh/gdjp/带牌重点奖牌.htm">带牌重点奖牌</a></li>
                        <li><a target="_blank" href="http://116.228.3.80/html/syh/gdjp/重点项目汇总奖牌.htm">重点项目汇总奖牌</a></li>
                      </ul>
                  </span>
                  <span class="hover">
                    <p><i></i>重点项目总分</p>
                      <ul style="display: none;">
                        <li><a href="/phb/zdxmzf">比赛重点项目总分</a></li>
                        <li><a href="http://116.228.3.80/html/syh/gdzf/带牌重点总分.htm">带牌重点总分</a></li>
                        <li><a href="http://116.228.3.80/html/syh/gdjp/重点项目汇总奖牌.htm">重点项目汇总得分</a></li>
                      </ul>
                  </span>
                  <a target="_blank" href="http://116.228.3.80/html/syh/tbgx/奥全运突出贡献奖统计表.htm" class="c_btn_a"><i></i>奥全运突出贡献奖</a>
                  <a target="_blank" href="http://116.228.3.80/html/syh/ys/11-14十项系列赛汇总表.htm" class="c_btn_a"><i></i>10项系列赛优胜奖</a>
                </div>

                <div class="competition_con">
                    <div>
                      <div class="cc_table_left">
                      <table width="200" border="0" cellspacing="5" cellpadding="0">
                          <thead>
                          <tr>
                            <th>县区</th>
                            <th>总分</th>
                          </tr>
                          </thead>
                          <tbody>
                          <% @jiangpais.each do |jiangpai| %>
                          <tr>
                            <td><%~ jiangpai[:dwjc].to_s.strip %></td>
                            <td><%~ (tmp1=jiangpai[:hjf])==(tmp2=tmp1.to_i) ? tmp2 : tmp1 %></td>
                          </tr>
                          <% end %>
                          </tbody>
                        </table>
                        </div>
                        <div class="cc_table_right">
              <table width="100%" border="0" cellspacing="5" cellpadding="0">
                          <thead>
                          <tr>
                            <% @projects.each do |project| %>
                            <th><%~ project[:tsmc].to_s.strip %></th>
                            <% end %>
                          </tr>
                          </thead>
                          <tbody>
                          <% @jiangpais.each_with_index do |jiangpai,index| %>
                          <tr>
                            <% @projects.each do |project| %>
                            <td id="<%~ "zf_p#{project[:bh3]}r#{index}" %>">&nbsp;</td>
                            <% end %>
                          </tr>
                          <% end %>
                          </tbody>
                        </table>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

  function load_phb_zdxmzf_sublist_json() {
    $.ajax({
        url:'/phb/zdxmzf/sublist_json',
        type:"get",
        dataType:"json",
        data:{},
        success:function(json){
          for(var key in json){
            // alert(key);  
            // alert(json[key]);  
            // alert("zdf:"+json[key].zdf);
            if(json[key].zdf){
              $ele = $('#zf_'+key);
              $ele.html(''+json[key].zdf);
              if(json[key].pid < 8){
                $ele.attr('style','font-weight:bolder;');
              }else{
                $ele.attr('style','text-decoration:line-through;vertical-align: middle;');
              }
            }
          }
        },
        error:function(info){}
    });
  }

  load_phb_zdxmzf_sublist_json();

</script>