<div class="main clear">
	<div class="box">
    	<div class="m_title">
        	<h2>当前位置：赛事/排行榜/<span style="cursor:pointer;" onclick="window.location.href='/phb';">比赛奖牌</span></h2>
        </div>
        <div class="m_body">
        	  <div class="competition">
            	
                <div class="group_btn">
                  <a href="javascript:;" class="hover"><span>青少年组</span></a>
                  <a href="/phb/gxbsjp"><span>高校组</span></a>
                </div>

                <div class="competition_a">
                  <span class="hover">
                    <p class="ca01">比赛奖牌</p>
                      <ul style="display: none;">
                        <li><a href="/phb">比赛奖牌</a></li>
                        <li><a target="_blank" href="http://116.228.3.80/html/syh/jp/赛会总奖牌.htm">赛会总奖牌</a></li>
                      </ul>
                  </span>
                  <span>
                    <p class="ca02">比赛总分</p>
                    <ul style="display: none;">
                        <li><a href="/phb/bszf">比赛总分</a></li>
                        <li><a target="_blank" href="http://116.228.3.80/html/syh/zf/赛会总分.htm">赛会总分</a></li>
                      </ul>
                  </span>
                  <span>
                    <p><i></i>重点项目奖牌</p>
                      <ul style="display: none;">
                        <li><a href="/phb/zdxmjp">比赛重点项目奖牌</a></li>
                        <li><a target="_blank" href="http://116.228.3.80/html/syh/gdjp/带牌重点奖牌.htm">带牌重点奖牌</a></li>
                        <li><a target="_blank" href="http://116.228.3.80/html/syh/gdjp/重点项目汇总奖牌.htm">重点项目汇总奖牌</a></li>
                      </ul>
                  </span>
                  <span>
                    <p><i></i>重点项目总分</p>
                      <ul style="display: none;">
                        <li><a href="/phb/zdxmzf">比赛重点项目总分</a></li>
                        <li><a target="_blank" href="http://116.228.3.80/html/syh/gdzf/带牌重点总分.htm">带牌重点总分</a></li>
                        <li><a target="_blank" href="http://116.228.3.80/html/syh/gdjp/重点项目汇总奖牌.htm">重点项目汇总得分</a></li>
                      </ul>
                  </span>
                  <a target="_blank" href="http://116.228.3.80/html/syh/tbgx/奥全运突出贡献奖统计表.htm" class="c_btn_a"><i></i>奥全运突出贡献奖</a>
                  <a target="_blank" href="http://116.228.3.80/html/syh/ys/11-14十项系列赛汇总表.htm" class="c_btn_a"><i></i>10项系列赛优胜奖</a>
                </div>

                <div class="competition_con">
                  <div class="cc_table_left">
                  <table width="280" border="0" cellspacing="5" cellpadding="0">
                      <thead>
                      <tr>
                        <th colspan="4">合计</th>
                      </tr>
                      <tr>
                        <th>县区</th>
                        <th class="medal_box">金<i class="one">金牌</i></th>
                        <th class="medal_box">银<i class="two">银牌</i></th>
                        <th class="medal_box">铜<i class="three">铜牌</i></th>
                      </tr>
                      </thead>
                      <tbody>
                        <% @jiangpais.each do |jiangpai| %>
                        <tr>
                          <td><%~ jiangpai[:dwjc].to_s.strip %></td>
                          <td><%~ (tmp1=jiangpai[:zjp])==(tmp2=tmp1.to_i) ? tmp2 : tmp1 %></td>
                          <td><%~ (tmp1=jiangpai[:zyp])==(tmp2=tmp1.to_i) ? tmp2 : tmp1 %></td>
                          <td><%~ (tmp1=jiangpai[:ztp])==(tmp2=tmp1.to_i) ? tmp2 : tmp1 %></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                    </div>
                    <div class="cc_table_right_s">
                      <div class="ccs_table">
                        <% @projects.each do |project| %>
                        <table border="0" cellspacing="5" cellpadding="0">
                          <thead>
                          <tr>
                            <th colspan="3"><%~ project[:xmmc].to_s.strip %></th>
                          </tr>
                          <tr>
                            <th class="medal_box">金<i class="one">金牌</i></th>
                            <th class="medal_box">银<i class="two">银牌</i></th>
                            <th class="medal_box">铜<i class="three">铜牌</i></th>
                          </tr>
                          </thead>
                          <tbody>
                          <% @jiangpais.each_with_index do |jiangpai,index| %>
                          <tr id="<%~ "jiangpai_p#{project[:bh2]}r#{index}" %>">
                            <td class="zjp">&nbsp;</td>
                            <td class="zyp">&nbsp;</td>
                            <td class="ztp">&nbsp;</td>
                          </tr>
                          <% end %>
                          </tbody>
                        </table>
                        <% end %>
                      </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

  function load_phb_bsjp_sublist_json() {
    $.ajax({
        url:'/phb/bsjp/sublist_json',
        type:"get",
        dataType:"json",
        data:{},
        success:function(json){
          for(var key in json){
            // alert(key);  
            // alert(json[key]);  
            // alert("zjp:"+json[key].zjp+" zyp:"+json[key].zyp+" ztp:"+json[key].ztp);
            var $tr = $('#jiangpai_'+key);
            if(json[key].zjp){
              $tr.find('.zjp').html(''+json[key].zjp);
            }
            if(json[key].zyp){
              $tr.find('.zyp').html(''+json[key].zyp);
            }
            if(json[key].ztp){
              $tr.find('.ztp').html(''+json[key].ztp);
            }
          }
        },
        error:function(info){}
    });
  }

  load_phb_bsjp_sublist_json();

</script>