<div class="main clear">
	<div class="box">
    	<div class="m_title">
        	<h2>当前位置：赛事/排行榜/<%~ @project[:xmmc].to_s.strip %></h2>
        </div>
        <div class="m_body">
        	  <div class="competition">
            	
                <div class="group_btn">
                  <a href="javascript:;" class="hover"><span>青少年组</span></a>
                  <a href="javascript:alert('暂时还没有高校组的数据');"><span>高校组</span></a>
                </div>

                <div class="competition_a">
                  <a href="/phb" class="ca01">比赛奖牌</a>
                  <a href="/phb/bszf" class="ca02">比赛总分</a>
                  <a href="/phb/dxjp" class="ca01">单项奖牌</a>
                  <a href="/phb/dxzf" class="ca02 hover">单项总分</a>
                  <a href="/phb/zdxmjp" class=""><i></i>重点项目奖牌</a>
                  <a href="/phb/zdxmzf"><i></i>重点项目总分</a>
                </div>

                <div class="competition_con">
                  <div class="group_list">
                      <li><a href="#" class="hover">A组</a></li>
                        <li><a href="#">B组</a></li>
                        <li><a href="#">C组</a></li>
                        <li><a href="#">D组</a></li>
                        <li><a href="#">E组</a></li>
                        <li><a href="#">F组</a></li>
                        <li><a href="#">汇总</a></li>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>