<div class="main clear">
	<div class="box">
    	<div class="m_title">
        	<h2>当前位置：赛事/排行榜/<%~ @project[:xmmc].to_s.strip %></h2>
        </div>
        <div class="m_body">
        	  <div class="competition">
            	
                <div class="group_btn">
                  <a href="javascript:;" class="hover"><span>青少年组</span></a>
                  <a href="javascript:alert('暂时还没有高校组的数据');"><span>高校组</span></a>
                </div>

                <div class="competition_a">
                  <a href="/phb" class="ca01">比赛奖牌</a>
                  <a href="/phb/bszf" class="ca02">比赛总分</a>
                  <a href="/phb/dxjp" class="ca01">单项奖牌</a>
                  <a href="/phb/dxzf" class="ca02 hover">单项总分</a>
                  <a href="/phb/zdxmjp" class=""><i></i>重点项目奖牌</a>
                  <a href="/phb/zdxmzf"><i></i>重点项目总分</a>
                </div>

                <div class="competition_con">
                    <div>
                      <div class="cc_table_left">
                      <table width="300" border="0" cellspacing="5" cellpadding="0">
                          <thead>
                          <tr>
                            <th>县区</th>
                            <th>总分</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>宝山</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          </tbody>
                        </table>
                        </div>
                        <div class="cc_table_right">
                            <table width="100%" border="0" cellspacing="5" cellpadding="0">
                              <thead>
                              <tr>
                                <th>第1名</th>
                                <th>第2名</th>
                                <th>第3名</th>
                                <th>第4名</th>
                                <th>第5名</th>
                                <th>第6名</th>
                                <th>第7名</th>
                                <th>第8名</th>
                                <th>第9-16名</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>