<div class="main clear">
	<div class="box">
    	<div class="m_title">
        	<h2>当前位置：资讯/青训速递</h2>
        </div>
        <div class="m_body">
        	<div class="article_list">
            	<ul>
                	<li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                </ul>
            </div>
            <div class="article_list">
            	<ul>
                	<li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                </ul>
            </div>
            <div class="article_list">
            	<ul>
                	<li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                    <li><a href="#">浙江省第十五届运动会武术散打运动员名单</a><span>2014-08-10</span></li>
                </ul>
            </div>
            <div class="pageTurn"> 
                <a href="#" class="disabled">上一页</a> 
                <a href="#" class="current">1</a> 
                <a href="#?page=2">2</a> 
                <a href="#?page=3">3</a> 
                <a href="#?page=4">4</a> 
                <a href="#?page=5">5</a>
                ...
                <a href="#?page=199">199</a> 
                <a href="#?page=200">200</a> 
                <a href="#?page=2">下一页</a> 
            </div>
        </div>
    </div>
</div>