<div class="main clear">
	<div class="box">
    	<div class="m_title">
        	<h2>当前位置：资讯/赛事新闻</h2>
            <!-- <div class="search"><input type="text" value="搜索关键字" /><button>搜索</button></div> -->
        </div>
        <div class="m_body">

            <div class="article_list">
                <ul>
                    <% @news.each do |news| %>
                    <li><a href="/ssxw/<%~ news.nid_news %>"><%~ news.ctitle %></a><span><%~ news.tdate.strftime('%Y-%m-%d') %></span></li>
                    <% end %>
                </ul>
            </div>

            <%= paginate @news_pagination %>

        </div>
    </div>
</div>