<div class="main clear">
	<div class="box">
    	<div class="m_title">
        	<h2>当前位置：资讯/通知公告</h2>
        </div>
        <div class="m_body">
        	<div class="article_list">
            	<ul>
                    <% @tongzhi.each do |tongzhi| %>
                	<li><a href="/tzgg/<%~ tongzhi.nid_news %>"><%~ tongzhi.ctitle %></a><span><%~ tongzhi.tdate.strftime('%Y-%m-%d') %></span></li>
                    <% end %>
                </ul>
            </div>

            <%= paginate @tongzhi_pagination %>

        </div>
    </div>
</div>