<div class="main clear">
	<div class="box">
    	<div class="m_title">
        	<h2>当前位置：资讯/组委会</h2>
        </div>
        <div class="m_body">
        	<div class="article">
            	<div class="article_title">
                	<h1>组委会成员名单</h1>
                    <p><span>发布时间：2014-06-19</span><span>作者：上海体育局</span><span>来源：上海体育局</span></p>
                </div>
                <div class="article_con">
                    <br>各竞赛委员会负责人名单 (青少年组)
                    <br>
                    <br>游泳
                    <br>主 任:周奇伟 副 主 任:蒋丞稷、诸达乐、马春馥 仲裁主任:诸达乐;仲裁委员 : 刘秋苹、陈 勤、沈坚强、张晓韵 裁 判 长:季荣康;副裁判长 : 李 明、丁玲娣、潘莉华、付晓敏
                    <br>
                    <br>跳水
                    <br>主 任:邵国民 副主任:李 备; 仲裁主任:史惠国 ; 仲裁委员:李 备 裁 判 长:史惠国; 副裁判长: 袁连英
                    <br>
                    <br>水球
                    <br>主 任:赵英华 副 主 任:邵国民、龚以庆、诸达乐、王小兵 仲裁主任:何连德 ; 仲裁委员:陈德友、唐振鑫 裁 判 长:施重光 ; 副裁判长:张 亮
                    <br>
                    <br>花样游泳
                    <br>主 任:邵国民 副 主 任:龚以庆、李 备、王 玮 仲裁主任:李 备;仲裁委员:朱万莉、张晓韵、王惠珍、贺雅芬、吴新培
                    <br>裁 判 长:张晓蕾; 副裁判长:袁咏华、金 彦
                    <br>
                    <br>射箭
                    <br>主 任:张惠康 副 主 任:王跃舫、陆鸿钢、周 斌 仲裁主任:陈恭伟;仲裁委员:蔡 萍、顾思齐 裁 判 长:叶 华;副裁判长:杨 琦、林志坚、杭 恺
                    <br>
                    <br>田径
                    <br>主 任:严辉 副 主 任:盛振华、罗文桦、初 凯 仲裁主任:吕季东;仲裁委员:吴丽萍、樊孝明、林民伋、朱卫明 裁 判 长:成万祥;副裁判长:吴 玮、钱伟平、周小龙
                    <br>
                    <br>羽毛球
                    <br>主 任:金伟红 副 主 任:王励勤、金 晨、王继威 仲裁主任:郁鸿骏;仲裁委员:金 晨、吴国祥、蒋永谊、周旭明 裁 判 长:陈振为;副裁判长:葛幼飞、徐金城
                    <br>
                    <br>棒球
                    <br>主 任:盛振华
                    <br>副 主 任:盛茂武、史闽越、初 凯、何美龙
                    <br>仲裁主任:宋荣钧;仲裁委员:王勇健、张玉峰
                    <br>裁 判 长:李 哲;副裁判长:李维庚、葛 红
                    <br>
                    <br>篮 球 (男子组)
                    <br>主 任:金伟红 副 主 任:王立琴、王继威、高 屹 仲裁主任:陈德春;仲裁委员:陈银宝、张 静、郁 斌、谢有光 裁 判 长:徐 扬;副裁判长:肖伟军、王 烈、王卫星、陈 侠
                    <br>
                    <br>篮 球(女子组)
                    <br>主 任:黄建荣 副 主 任:王立琴、沈建青、芮仁杰 仲裁主任:陈德春;仲裁委员:陈银宝、张 静、谢有光、郁 斌 裁 判 长:胡 吉;副裁判长:徐 扬、梅吉永、王宏华、王 烈
                    <br>
                    <br>拳击
                    <br>主 任:赵晓波 副 主 任:程克强、宣明华、俞勇彪 仲裁主任:王连方;仲裁委员:龙跃玉、孙 超、张志杰、潘 峰 裁 判 长:赵忠军;副裁判长:郑本宝、刘 飞
                    <br>
                    <br>皮划艇
                    <br>主 任:周志勇 副 主 任:邵 云、吴伟平 仲裁主任:吴伟平;仲裁委员:施欢珍、竺爱尔、苑金华、陈昕云 裁 判 长:李国栋;副裁判长:潘学荣
                    <br>
                    <br>自行车
                    <br>主 任:陈一平 副 主 任:海 线、严 辉、龚耀飞 仲裁主任:郭红生;仲裁委员:李建民、张忠维、刘正林、陆启孙 裁 判 长:陈 振;副裁判长:李国栋、何 军、刘 茂
                    <br>
                    <br>马术
                    <br>主 任:张惠康 副 主 任:匡佐圣、周 斌、潘拥军 仲裁主任:薛锦范;仲裁委员:张 滨、怀佩忻 技术代表:李 伟 裁 判 长:毕晓宏;副裁判长:陆 炜、党绍贵
                    <br>
                    <br>击剑
                    <br>主 任:海线 副 主 任:孔林德、侯昌青、沈巍巍 仲裁主任:赵传杰;仲裁委员:宣荣明、万惠萍、李兴林、张竹君 裁 判 长:汪兴旗;副裁判长:张 朔、郑晓岚、石海英、陈 飚
                    <br>
                    <br>足 球(男子组)
                    <br>主 任:王继烈
                    <br>副主任:孙 雯、胡 星
                    <br>仲裁主任:沈 雷;仲裁委员:左秀娣、陈恩华、郁 斌、顾兆年
                    <br>裁 判 长:陆建平;副裁判长:张业端、宋崇刚、黄 俊、陆宝琛
                    <br>
                    <br>足 球(女子组)
                    <br>主 任:蒋莺 副 主 任:孙 雯、杨建新、郑建国 仲裁主任:沈 雷;仲裁委员:左秀娣、陈恩华、郁 斌、顾兆年 裁 判 长:钱瑞兴;副裁判长:陆丽娟、岳贤安、葛留善
                    <br>
                    <br>高尔夫球
                    <br>主 任:王锦培 副 主 任:俞靖明、杨彩英 仲裁主任:王锦培;仲裁委员:俞顽峰、康静燕 裁 判 长:康静燕;副裁判长:杨 慧
                    <br>
                    <br>体操
                    <br>主 任:王仁伟 副 主 任:沈利龙、朱 政、朱 联 仲裁主任:沈利龙;仲裁委员:张坤明、顾海德 裁 判 长:朱 政;副裁判长:邵 斌、毛培雯
                    <br>
                    <br>艺术体操
                    <br>主 任:王仁伟 副 主 任:沈利龙、张明泉、朱 联 仲裁主任:沈利龙;仲裁委员:顾思齐、黄乙君 裁 判 长:周仕怡;副裁判长:毛 蕾、张秋萍
                    <br>
                    <br>蹦床
                    <br>主 任:王仁伟 副 主 任:沈利龙、陈 皓、朱 联 仲裁主任:沈利龙;仲裁委员:方伯生、杨志明、赵嘉伟、顾思齐 裁 判 长:徐颖琦;副裁判长:吴 昊
                    <br>
                    <br>手 球(男子组)
                    <br>主 任:沈天柱 副 主 任:史闽越、刘秋苹、蒋碧艳 仲裁主任:张 政;仲裁委员:虞 伟、于中讯、郑益芳、陈昕云 裁 判 长:王 锐;副裁判长:杨建华、陈晓波、陈 明
                    <br>
                    <br>手 球(女子组)
                    <br>主 任:史闽越 副 主 任:王继威、郑益芳 仲裁主任:张 政;仲裁委员:于中讯、项 颖、陈昕云、陈进培 裁 判 长:王 锐;副裁判长:杨建华、叶霄雪、陈 明、姜荣根
                    <br>
                    <br>曲棍球
                    <br>主 任:盛振华 副 主 任:史闽越、胡家铭、初凯、何美龙 仲裁主任:胡家铭;仲裁委员:黄俊霞、陈昕云 裁 判 长:蔡雪梅;副裁判长:王 怡、程 晖、陈建均
                    <br>
                    <br>柔 道(男子组)
                    <br>主 任:龚耀飞 副 主 任:盛茂武、夏双喜、曹云华 仲裁主任:胡美琪;仲裁委员:Brad Owen、佘 群、俞定凯、曹 漪 裁 判 长:张光玥;副裁判长:Kay Hansen、胡永芬
                    <br>
                    <br>柔 道(女子组)
                    <br>主 任:盛振华 副 主 任:盛茂武、夏双喜、初 凯 仲裁主任:胡美琪;仲裁委员:Brad Owen、佘 群、黄维娜、曹 漪 裁 判 长:张光玥;副裁判长:Kay Hansen、胡永芬
                    <br>
                    <br>现代五项
                    <br>主 任:海线 副 主 任:盛茂武、杜震城、徐文庆 仲裁主任:应 渊;仲裁委员:张晓韵、曹忠荣 裁 判 长:钱震华;副裁判长:梁立刚
                    <br>
                    <br>赛艇
                    <br>主 任:周志勇 副 主 任:邵 云、吴卫平 仲裁主任:吴卫平;仲裁委员:施欢珍、竺爱尔、苑金华、陈昕云 裁 判 长:李国栋;副裁判长:潘学荣
                    <br>
                    <br>帆船
                    <br>主 任:刘小马 副 主 任:邵 云、杨国浩 仲裁主任:刘小马;仲裁委员:姚方林、周元国 裁 判 长:季树青;副裁判长:徐荣民
                    <br>
                    <br>帆板
                    <br>主 任:刘小马 副 主 任:邵 云、杨国浩 仲裁主任:刘小马;仲裁委员:姚方林、周元国 裁 判 长:季树青;副裁判长:徐荣民
                    <br>
                    <br>射击
                    <br>主 任:王跃舫 副 主 任:陆鸿钢、许 嵘、田 华 仲裁主任:陆鸿钢;仲裁委员:陶璐娜、罗思聪、谭妙全、顾思齐 裁 判 长:郑志德;副裁判长:王慧颖、叶 华、赵 鹰
                    <br>
                    <br>垒球
                    <br>主 任:盛振华 副 主 任:盛茂武、史闽越、初 凯 仲裁主任:史闽越;仲裁委员:王勇健、陈昕云、孙 杰、倪 培 裁 判 长:李 哲;副裁判长:杨 益、张哲敏
                    <br>
                    <br>乒乓球
                    <br>主 任:沈天柱 副 主 任:王励勤、刘秋苹、魏玉来 仲裁主任:段 翔;仲裁委员:归震祺、刘雅玲、刘志娟、周旭明 裁 判 长:姜建荣;副裁判长:赵方红、张留义
                    <br>
                    <br>跆拳道
                    <br>主 任:黄建荣 副 主 任:王才兴、程克强、李 辛 仲裁主任:李忠明;仲裁委员:侯盛明、颜镒隆 裁 判 长:周文伟;副裁判长:吴建忠、林大参、邹玉山
                    <br>
                    <br>网球
                    <br>主 任:张惠康 副 主 任:曹云华、周 斌 仲裁主任:吕正义;仲裁委员:王良佐、朱卫明 裁 判 长:杨 勇;副裁判长:朱 强、陆英浩
                    <br>
                    <br>排 球(男子组)
                    <br>主 任:周奇伟 副 主 任:陈惠民、马春馥、刘铁民 仲裁主任:张臣吉;仲裁委员:孟畅懿、陈德生 裁 判 长:李 琛;副裁判长:李 浩、丁 毅、周炳华
                    <br>
                    <br>排 球(女子组)
                    <br>主 任:黄建荣 副 主 任:陈惠民、李 辛、刘铁民 仲裁主任:张臣吉;仲裁委员:王恩明、孟畅懿、陈德生、应嘉璋 裁 判 长:王 骏;副裁判长:唐济民、邱进宇、蒋 毅
                    <br>
                    <br>沙滩排球
                    <br>主 任:杨伟 副 主 任:陈惠民、蒋军飞、刘铁民 仲裁主任:张臣吉;仲裁委员:陈惠民、孟畅懿 裁 判 长:龚博敏;副裁判长:王 村、吴 平
                    <br>
                    <br>举重
                    <br>主 任:孔林德 副 主 任:高晓东、侯昌青、杨桂龙 仲裁主任:戴光裕;仲裁委员:张孝品、蒋华根、张家骧、曹 漪 裁 判 长:张 琦;副裁判长:刘 俊、徐云霞、陈人杰
                    <br>
                    <br>国际式摔跤
                    <br>主 任:王继烈 副 主 任:施嘉劲、胡 星、夏双喜 仲裁主任:施嘉劲;仲裁委员:袁国光、戴学铭、顾国飞、曹 漪 裁 判 长:张信波;副裁判长:董文侠、郑国辉
                    <br>
                    <br>武 术(套路)
                    <br>主 任:刘昌乐 副 主 任:王万亮、孙建东、许俊华 仲裁主任:王培锟;仲裁委员:虞定海、刘同为、傅敏伟、陆根秀 裁 判 长:蔡 纲;副裁判长:花妙林、陆松延
                    <br>
                    <br>武 术(散打)
                    <br>主 任:俞彪 副 主 任:刘昌乐、孙建东、陆前安 仲裁主任:王培锟;仲裁委员:程留忠、石国华、张福云、虞定海 裁 判 长:姜传银;副裁判长:郑 忠、张云龙
                    <br>
                    <br>冰壶
                    <br>主 任:崔一宁 副 主 任:王继威、秦梓辛、陈 铫 仲裁主任:崔树林;仲裁委员:陈 铫、柏雯婷 裁 判 长:史春燕;副裁判长:张 波
                    <br>
                    <br>花样滑冰
                    <br>主 任:严家栋 副 主 任:陈 铫、马春馥、陆前安 仲裁主任:陈 铫;仲裁委员:朱桂芳、陈晓菲 裁 判 长:王 巍;副裁判长:赵金萍、史春燕
                    <br>
                    <br>
                    <br>
                    <br>各竞赛委员会负责人名单 (高校组)
                    <br>
                    <br>游泳
                    <br>主 任:朱 健 副 主 任:孔凡邨、江 波、毛丽娟 仲裁主 任:徐宝庆;仲裁委员:诸达乐、游松辉、吴军伟、刘秋苹 裁 判 长:马吉光;副裁判长:季永康、丁玲娣、朱德喜、王明宏
                    <br>
                    <br>田径
                    <br>主 任:郭为禄 副 主 任:王从春、季 浏、李 群 仲裁主任:沈幼伟;仲裁委员:吴莉萍、成万祥、许以诚、李 群 裁 判 长:陈乃武;副裁判长:强建明、张 明
                    <br>
                    <br>羽毛球
                    <br>主 任:王从春 副 主 任:游松辉、沈幼伟 仲裁主任:沈幼伟;仲裁委员:姜志明、戴金彪 裁 判 长:张发明;副裁判长:冯 辉、朱 洪
                    <br>
                    <br>棒球
                    <br>主 任:冯庆华 副 主 任:王 骏、王祥兴、沈幼伟 仲裁主任:顾 伟;仲裁委员:金其荣、陈建强、张玉峰、曹 华
                    <br>裁 判 长:李维庚;副裁判长:宋荣均、葛 红
                    <br>
                    <br>篮球
                    <br>主 任:朱 健 副 主 任:孙培雷、丛玉豪、毛丽娟 仲裁主任:孙麒麟;仲裁委员:王锦明、王 跃、李 群、谢 敏 裁 判 长:赵 军;副裁判长:吴敏华、夏 春、胡 吉、龚万宽
                    <br>
                    <br>击剑
                    <br>主 任:鲁海波 副 主 任:李兴林、郑晓岚 仲裁主任:郭淑范;仲裁委员:李 丁、赵传杰、胡志麟 裁 判 长:陆建明;副裁判长:尤政一、蔡 军、张 君
                    <br>
                    <br>足球
                    <br>主 任:姜富明 副 主 任:游松辉、邵 斌、王 跃、吕继东、胡志麟、朱江华 仲裁主任:王从春;仲裁委员:沈幼伟、孙润兴、姜志明 裁 判 长:翟柏林;副裁判长:张 忠、陆建平、杨璟勇
                    <br>
                    <br>高尔夫球
                    <br>主 任:刘永章 副 主 任:刘庆生、吕季东、高 瑜 仲裁主任:吴亚初; 仲裁委员:王 勇、金银日、梁志华、谢子修 裁 判 长:吴亚初;副裁判长:高 瑜、王 勇、金银日、谢子修
                    <br>
                    <br>射击
                    <br>主 任:陆昉 副 主 任:栗建华、黄荣国 仲裁主任:陆鸿钢;仲裁委员:谭妙全、罗思聪 裁 判 长:郑志德;副裁判长:王慧颖、赵 鹰
                    <br>
                    <br>乒乓 球
                    <br>主 任:沈炜 副 主 任:王从春、王 跃、孙麒麟 仲裁主任:孙麒麟;仲裁委员:王 跃、刘雅玲、耿元元、韩 骏 裁 判 长:徐昱玫;副裁判长:刘文珂、徐思红、俞器良、徐 迎
                    <br>
                    <br>跆拳 道
                    <br>主 任:李延臣 副 主 任:沈幼伟、 刘国荣 仲裁主任:侯盛明; 仲裁委员:周 涛、林大参、李玉清、杨承嵩 裁 判 长:李详亮;副裁判长:程克勤、李海军
                    <br>
                    <br>网球
                    <br>主 任:叶志明 副 主 任:邵 斌、吴国琴、程 杰 仲裁主任:程 杰; 仲裁委员:王 跃、吕季东、陈建强、刘庆广 裁 判 长:陆英浩; 副裁判长:钟建荣、徐 娜
                    <br>
                    <br>排球
                    <br>主 任:陆昉 副 主 任:陈建强、马祖勤、朱寅申 仲裁主任:倪 伟 ;仲裁委员:沈幼伟、王方椽、方 川、孔 斌 裁 判 长:王 俊 ;副裁判长:邱进宇、夏 昕、周建高
                    <br>
                    <br>武术
                    <br>主 任:吴志坤 副 主 任:沈幼伟、冯金瑞 仲裁主任:卫志强;仲裁委员:张福云、陆根秀 裁 判 长:蔡 纲;副裁判长:范燕美、陆松廷
                    <br>
                    <br>板球
                    <br>主 任:陈以一 副 主 任:李伟听、游松辉、 陆湘群 仲裁主任:沈幼伟;仲裁委员:吴良辰、可 汉 裁 判 长:冯 坚;副裁判长:闻 涛、潘 浩
                    <br>
                    <br>健美操
                    <br>主 任:郭为禄 副 主 任:王从春、季 浏、汪晓赞 仲裁主任:沈利龙;仲裁委员:朱 政、李 群、沈幼伟、周 燕 裁 判 长:周 燕;副裁判长:熊德良
                    <br>
                    <br>毽球
                    <br>主 任:王增豪 副 主 任:俞雷霖、从 群、经晓峰 仲裁主任:沈幼伟;仲裁委员:从 群、郑楚荣、潘幼群、平 越 裁 判 长:孙 玮;副裁判长:丁海荣、邓家平
                    <br>
                    <br>围棋、中国象棋、国际象棋
                    <br>主 任:冯庆华 副 主 任:王 骏、王祥兴、刘世振 仲裁主任:沈幼伟;仲裁委员:吕季东、陈 琪 裁 判 长:马佩良;副裁判长:白一萍、赵康兴
                    <br>
                    <br>桥牌
                    <br>主 任:陆昉 副 主 任:张国强、陈建强、马祖勤 仲裁主任:王俊人;仲裁委员:沈幼伟、王方椽、陈 琪、孔 斌 裁 判 长:范嘉浩;副裁判长:关肇增、程杏第
                    <br>
                    <br>冰壶
                    <br>主 任:崔一宁 副 主 任:王继威、秦梓辛、陈 铫 仲裁主任:崔树林;仲裁委员:陈 铫、柏雯婷 裁 判 长:史春燕;副裁判长:张 波
                    <br>
                    <br>
                    <br>
                    <br>各代表团负责人名单 (青少年组)
                    <br>
                    <br>浦东新区代表团
                    <br>周奇伟 杨 晔 徐瑶玲
                    <br>
                    <br>黄浦区代表团
                    <br>王伟鸣 沈建青 江伟鸣
                    <br>
                    <br>静安区代表团
                    <br>陈宇卿 陆前安 戈一萍
                    <br>
                    <br>徐汇区代表团
                    <br>徐国文
                    <br>
                    <br>长宁区代表团
                    <br>姚期 朱联 吴玉雷
                    <br>
                    <br>普陀区代表团
                    <br>范以纲 王元 杨建新
                    <br>长:谢毓敏 长:王晓科
                    <br>长: 程霄玉 长: 黄建荣
                    <br>长: 夏以群 长:俞彪
                    <br>长: 王宏舟 长: 金伟红
                    <br>
                    <br>闸北区代表团
                    <br>团 长: 鲍英菁 副团长:李海波 周隽
                    <br>
                    <br>虹口区代表团
                    <br>团 长: 李国华 副团长:姜汉军 常生龙 徐文庆 杨利
                    <br>
                    <br>杨浦区代表团
                    <br>团 长:黄红 副团长:王继烈 胡星 冯芸
                    <br>
                    <br>宝山区代表团
                    <br>团 长: 陶夏芳 副团长:沈天柱 张晓静 蒋碧艳 刘秋苹
                    <br>
                    <br>闵行区代表团
                    <br>团 长: 杨德妹 副团长:盛振华 王浩 杭文权 初凯
                    <br>
                    <br>嘉定区代表团
                    <br>团 长:李原 副团长:赵晓波 姚伟宣明华 俞勇彪
                    <br>团 长:陆瑾 副团长:杨伟
                    <br>
                    <br>金山区代表团
                    <br>顾宏伟 蒋军飞 黄萍
                    <br>
                    <br>松江区代表团
                    <br>陈小华 侯昌青 杨桂龙
                    <br>
                    <br>青浦区代表团
                    <br>印国荣邵云 江雪元
                    <br>
                    <br>奉贤区代表团
                    <br>盛群华 陆建国 石志红
                    <br>
                    <br>崇明县代表团
                    <br>黄强 郭琰 黄宗逵 副 团 团 副团长:龚耀飞
                    <br>长:苏平 长: 孔林德
                    <br>长: 蒋仁辉 长: 张瑞云
                    <br>长: 陈文华 长: 张惠康
                    <br>
                    <br>
                    <br>
                    <br>各代表团负责人名单 (高校组)
                    <br>
                    <br>长:陆昉 长: 陈建强
                    <br>长:朱健 长: 毛丽娟
                    <br>长:伍江 长: 游松辉
                    <br>团 副团长:王庆华
                    <br>团 长:王跃 副团长:耿元元
                    <br>团 长: 冯庆华 副团长:王骏
                    <br>
                    <br>复旦大学代表团
                    <br>马祖勤 尤玉青 耿昭华
                    <br>
                    <br>上海交通大学代表团
                    <br>林立涛 刘庆广
                    <br>
                    <br>同济大学代表团
                    <br>姜志明 叶宇
                    <br>
                    <br>华东师范大学代表团
                    <br>季浏 李群
                    <br>
                    <br>华东理工大学代表团
                    <br>朱洵韬 韩 骏
                    <br>
                    <br>上海外国语大学代表团
                    <br>刘海荣
                    <br>长: 罗仪华 长: 陆湘群
                    <br>长: 刘永章 长: 刘庆生
                    <br>
                    <br>东华大学代表团
                    <br>任晓杰 张晓东 朱江华
                    <br>
                    <br>上海财经大学代表团
                    <br>吕季东 杜富华
                    <br>
                    <br>上海理工大学代表团
                    <br>俞峰 毛伟琴
                    <br>
                    <br>上海海事大学代表团
                    <br>吴军伟
                    <br>
                    <br>上海戏剧学院代表团
                    <br>上海体育学院代表团
                    <br>吴贻刚 戴国斌 李汶凯
                    <br>
                    <br>华东政法大学代表团
                    <br>胡汨
                    <br>团 长: 孔凡邨 副团长:李志鹏
                    <br>团 长:胡敏 副团长:陈 敏
                    <br>团 长: 毛丽娟 副团长:曹可强
                    <br>团 长: 吴建农 副团长:张继平
                    <br>团 长: 石奇光 副团长:胡志麟
                    <br>团 长: 叶志明 副团长:邵斌
                    <br>上海海洋大学代表团
                    <br>叶鸣
                    <br>
                    <br>上海电力学院代表团
                    <br>于善安
                    <br>
                    <br>上海大学代表团
                    <br>顾红 程杰 宗志伟
                    <br>
                    <br>上海中医药大学代表团
                    <br>龚博敏
                    <br>
                    <br>上海师范大学代表团
                    <br>长: 胡鸿毅 长: 吴志坤
                    <br>长: 丛玉豪 长: 沈建华
                    <br>
                    <br>上海对外经贸大学代表团
                    <br>长:聂清 长: 崔树林 李永华 胡 浩
                    <br>
                    <br>上海工程技术大学代表团
                    <br>上海应用技术学院代表团
                    <br>团 长: 叶银忠 副团长:袁翔 王若文
                    <br>
                    <br>上海金融学院代表团
                    <br>长: 鲁海波 长: 郭淑范 李兴林 秦 曼
                    <br>
                    <br>上海立信会计学院代表团
                    <br>长: 李延臣 长: 刘国荣
                    <br>
                    <br>上海第二工业大学代表团
                    <br>团 副团长:从群 邵国平
                    <br>长: 杨若凡 长:潘清
                    <br>
                    <br>上海电机学院代表团
                    <br>吕小亮 李小娟
                    <br>
                    <br>上海商学院代表团
                    <br>长: 楼文高 长: 刘建民 虞玉华
                    <br>
                    <br>上海政法学院代表团
                    <br>长: 关保英 长: 谭小勇 宋剑英
                    <br>团 长: 张增泰 副 团 长: 韩玉璋
                    <br>团 长: 张家钰 副团长:林 恬
                    <br>团 长:陈晖 副团长:钱 明
                    <br>
                    <br>上海杉达学院代表团
                    <br>上海建桥学院代表团
                    <br>上海海关学院代表团
                    <br>上海外国语大学贤达经济人文管理学院代表团
                    <br>团 长: 张祖忻 副团长:刘健 何威 庄孜
                    <br>
                    <br>上海东海职业技术学院代表团
                    <br>团 长: 程龙根 副团长:王 玉
                    <br>
                    <br>上海交通职业技术学院代表团
                    <br>团 长: 张佳敏 副团长:诸建平 苏巍
                    <br>
                    <br>上海农林职业技术学院代表团
                    <br>团 长: 俞锦禄 副 团 长: 张乐平
                    <br>
                    <br>上海建峰职业技术学院代表团
                    <br>团 长: 窦争妍 副 团 长: 周献敏
                    <br>
                    <br>上海民远职业技术学院代表团
                    <br>团 长:陶敏 副团长:李秀 马新海
                    <br>
                    <br>上海思博职业技术学院代表团
                    <br>团 长: 张学龙 副团长:刘 洋
                    <br>
                    <br>上海医疗器械高等专科学校代表团
                    <br>团 长: 江孝渔 副团长:傅志中 张美蓉 童清 崔斌
                    <br>
                    <br>上海工会管理职业学院代表团
                    <br>团 长: 郭洪涛 副团长:高守雷 熊鹰
                    <br>
                    <br>上海视觉艺术学院代表团
                    <br>团 长: 邵敏华 副 团 长: 汪天云 谢海泉 周新华
                    <br>
                    <br>上海师范大学天华学院代表团
                    <br>团 长: 龚春蕾 副 团 长: 裔勇刚 蔡勇永
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>