<div class="main clear">
	<div class="box">
    	<div class="m_title">
        	<h2>当前位置：资讯/组委会</h2>
            <div class="search"><input type="text" value="搜索关键字" /><button>搜索</button></div>
        </div>
        <div class="m_body">
        	<div class="article">
            	<div class="article_title">
                	<h1>组委会成员名单</h1>
                    <p><span>发布时间：2014-06-19</span><span>作者：上海体育局</span><span>来源：上海体育局</span></p>
                </div>
                <div class="article_con">
                	<p>组委会成员名单</p>
                </div>
            </div>
        </div>
    </div>
</div>